@import "tailwindcss";

@theme {
    --primary-light: #36353e;
    --on-primary-light: #ffffff;
    --secondary-light: #261819;
    --on-secondary-light: #ffffff;
    --tertiary-light: #6e5750;
    --on-tertiary-light: #ffffff;
    --error-light: #ba1a1a;
    --on-error-light: #ffffff;
    --primary-container-light: #4d4c55;
    --on-primary-container-light: #bfbdc7;
    --secondary-container-light: #3d2c2e;
    --on-secondary-container-light: #aa9295;
    --tertiary-container-light: #886f68;
    --on-tertiary-container-light: #fffbff;
    --error-container-light: #ffdad6;
    --on-error-container-light: #93000a;
    --surface-dim-light: #ddd9d9;
    --surface-light: #fdf8f8;
    --surface-bright-light: #fdf8f8;
    --surface-container-lowest-light: #ffffff;
    --surface-container-low-light: #f7f3f2;
    --surface-container-light: #f1edec;
    --surface-container-high-light: #ebe7e7;
    --surface-container-highest-light: #e6e1e1;
    --on-surface-light: #1c1b1b;
    --on-surface-variant-light: #47464b;
    --outline-light: #78767c;
    --outline-variant-light: #c8c5cb;
    --inverse-surface-light: #313030;
    --inverse-on-surface-light: #f4f0ef;
    --inverse-primary-light: #c8c5d0;
    --scrim-light: #000000;
    --shadow-light: #000000;

    --primary-dark: #c8c5d0;
    --on-primary-dark: #303038;
    --secondary-dark: #dbc0c2;
    --on-secondary-dark: #3d2c2e;
    --tertiary-dark: #dec0b8;
    --on-tertiary-dark: #3f2c26;
    --error-dark: #ffb4ab;
    --on-error-dark: #690005;
    --primary-container-dark: #4d4c55;
    --on-primary-container-dark: #bfbdc7;
    --secondary-container-dark: #3d2c2e;
    --on-secondary-container-dark: #aa9295;
    --tertiary-container-dark: #886f68;
    --on-tertiary-container-dark: #fffbff;
    --error-container-dark: #93000a;
    --on-error-container-dark: #ffdad6;
    --surface-dim-dark: #141313;
    --surface-dark: #141313;
    --surface-bright-dark: #3a3939;
    --surface-container-lowest-dark: #0f0e0e;
    --surface-container-low-dark: #1c1b1b;
    --surface-container-dark: #201f1f;
    --surface-container-high-dark: #2b2a2a;
    --surface-container-highest-dark: #363434;
    --on-surface-dark: #e6e1e1;
    --on-surface-variant-dark: #c8c5cb;
    --outline-dark: #929095;
    --outline-variant-dark: #47464b;
    --inverse-surface-dark: #e6e1e1;
    --inverse-on-surface-dark: #313030;
    --inverse-primary-dark: #5f5d67;
    --scrim-dark: #000000;
    --shadow-dark: #000000;
}